/* line 1, ../../sass/modules/colors.scss */
.blue {
  color: blue;
}

/* line 5, ../../sass/modules/colors.scss */
.red {
  color: red;
}

/* line 9, ../../sass/modules/colors.scss */
.yellow {
  color: #ffff19;
}
